$white: #fff;
$lightgray: #eee;
$gray: #ccc;
$darkgray: #666;
$midgray: #888;
$lightblue: #0099e8;
$sellbtnred: #d84638;
$red: #f00;
$redicon: #EA352D;
$pink: #de5e85;
$orange: #f0ab4d;
$paleblue: #7bb4d4;
$almostblack: #212121;
$whitesmoke: #f5f5f5;
$palegray: #fafafa;
