%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li
        %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li
        %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
    %img{alt: "mercari", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3713295644"}/
  %p
    %small © 2019 Mercari
