@mixin clearfix() {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
@mixin btn-default() {
	&__btn-default {
      display: block;
	  width: 100%;
	  line-height: 48px;
	  font-size: 14px;
	  border: 1px solid transparent;
	  -webkit-transition: all ease-out .3s;
	  transition: all ease-out .3s;
	  cursor: pointer;
	  text-align: center;
    }
}
@mixin btn-sns() {
	&__btn-sns {
	  position: relative;
	  margin: 16px 0 0;
	  color: #fff;
	  &__facebook {
	    background: #385185;
	    &:first-child {
	      margin: 0;
	    }
	  }
	  &__google {
	    background: #dc4e41;
	  }
	}
}
@mixin btn-red() {
    &__btn-red {
	  background: #ea352d;
	  border: 1px solid #ea352d;
	  color: #fff;
	}
}
@mixin btn-gray() {
    &__btn-gray {
	  background: #aaa;
	  border: 1px solid #aaa;
	  color: #fff;
	}
}
@mixin btn-mail() {
	&__btn-mail {
	  position: relative;
	  background: #eee;
	  color: #000;
	  .icon-mail {
	    position: absolute;
	    top: 50%;
	    left: 16px;
	    -webkit-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    color: #ccc;
	    font-size: 16px;
	  }
	}
}
@mixin input-default() {
	&__input-default {
		height: 48px;
	    padding: 10px 16px 8px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    background: #fff;
	    line-height: 1.5;
	    font-size: 16px;
	    box-sizing: border-box;
	}
}
@mixin textarea-default() {
	&__textarea-default {
	    display: block;
	    width: 100%;
	    max-width: 100%;
	    min-height: 104px;
	    padding: 10px;
	    border: 1px solid #ccc;
	    background: #fff;
	    font-size: 16px;
	    line-height: 1.5;
	    box-sizing: border-box
	}
}
@mixin select-default() {
	&__select-default {
		position: relative;
	    z-index: 2;
	    height: 48px;
	    padding: 0 16px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    background: 0;
	    font-size: 16px;
	    line-height: 1.5;
	    cursor: pointer;
	}
}
@mixin l-left(){
	&__l-left {
		float: left;
	}
}
@mixin l-right(){
	&__l-right {
		float: right;
	}
}
