.single-container
  = render partial: "shared/new-header"
  %main.single-main
    %section.signup-panel
      %h2.signup-panel__head 新規会員登録
      .signup-panel__inner
        .signup-panel__inner__single-content
          = link_to new_user_registration_path, class: "signup-panel__btn-default signup-panel__btn-mail" do
            %i.icon-mail
            メールアドレスで登録
          %button#facebook-login.signup-panel__btn-default.signup-panel__btn-sns.signup-panel__btn-sns__facebook
            %i.icon-facebook
            Facebookで登録
          %button#google-login.signup-panel__btn-default.signup-panel__btn-sns.signup-panel__btn-sns__google
            %i.icon-google-plus
            Googleで登録
    %form#login_form_facebook{action: "/jp/signup/facebook/", method: "POST", novalidate: "novalidate"}
      %input{name: "__csrf_value", type: "hidden", value: ""}/
      %input{name: "nickname", type: "hidden", value: ""}/
      %input{name: "email", type: "hidden", value: ""}/
      %input{name: "facebook_user_id", type: "hidden", value: ""}/
      %input{name: "facebook_access_token", type: "hidden", value: ""}/
      %input{name: "login_type", type: "hidden", value: "facebook"}/
    %form#login_form_google{action: "/jp/signup/google/", method: "POST", novalidate: "novalidate"}
      %input{name: "__csrf_value", type: "hidden", value: ""}/
      %input{name: "nickname", type: "hidden", value: ""}/
      %input{name: "email", type: "hidden", value: ""}/
      %input{name: "google_user_id", type: "hidden", value: ""}/
      %input{name: "google_access_token", type: "hidden", value: ""}/
      %input{name: "login_type", type: "hidden", value: "google"}/
    %input#google_client_id{type: "hidden", value: ""}/
    %input#facebook_app_id{type: "hidden", value: ""}/
  = render partial: "shared/new-footer"
