.spacial-description
  .spacial-description__title
    %h3
      本（本・音楽・ゲーム）
  .spacial-description__text
    %p 本(本・音楽・ゲーム)の買い取り、売るならメルカリへ。本は本・音楽・ゲームの下にあるカテゴリで商品は100万点以上あります。よく見られているカテゴリーは住まい/暮らし/子育てや参考書です。特に人気の商品は「【同梱割引あり】カロリーひかえめ　夜９時ごはん」や「チャート式 基礎からの数学III」や「医療系教材」があります。本の処分や整理、売却を検討中の方にお勧めです。