.app__banner{
  width: 100%;
  background-position: center;
  background-image: image-url("download_bg_pc.jpg");
  object-fit: cover;
  &-pc{
    position: relative;
    display: block;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: $white;
    &-inner {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      h2 {
        font-size: 24px;
        text-shadow: 0 0 5px $gray;
      }
      p {
        font-size: 35px;
        text-shadow: 0 0 5px $gray;
        margin: 10px 0 0 0;
      }
      .app__banner-icon {
        margin: 20px 0 0 0;
        .app__banner-logo {
          width: 60px;
          display: inline-block;
          vertical-align: middle;
        }
        .store {
          display: inline-block;
          margin: 0 0 0 24px;
          vertical-align: middle;
          li {
            display: inline-block;
          }
          li:last-child {
            margin: 0 0 0 16px;
          }
          a:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &-image{
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
    }
  }
}
