.global-footer {
  width: 100%;
  background: $almostblack;
  padding: 60px 0;
  text-align: center;
  .nav {
    width: 90%;
    margin: 0 auto;
    &__lists {
      .footer-cell {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        &__head {
          color: $white;
          font-size: 16px;
          text-align: center;
        }
        &__link {
          margin: 0;
          padding: 0;
          p {
            list-style: none;
            font-size: 14px;
            display: block;
            margin-top: 8px;
            a {
              text-decoration: none;
              color: $white;
            }
            a:hover {
              text-decoration: underline;
              color: $gray;
            }
          }
        }
        &__country {
          margin: 0;
          padding: 0;
          p {
            margin: 16px 0 0 0;
            font-size: 14px;
            list-style: none;
            vertical-align: middle;
            img {
              line-height: 24px;
              width: 22px;
            }
            a {
              vertical-align: top;
              text-decoration: none;
              color: $darkgray;
            }
            a.active {
              text-decoration: none;
              color: $white;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .footer-logo {
    display: block;
    margin: 40px 0 0;
    text-align: center;
  }
  .footer-copyright {
    margin: 8px 0 0;
    text-align: center;
    font-size: 14px;
    color: $white;
  }
}
