.pc-header {
  height: 100px;
  width: 100%;
  background-color: $white;
  font-size: 14px;
  &__upper {
    height: 40px;
    width: 75%;
    padding-top: 8px;
    margin: 0 auto;
    background-color: $white;
    img {
      width: 13%;
      float: left;
      line-height: 36px;
      vertical-align: middle;
    }
  }
  &__form {
    height: 40px;
    width: 85%;
    background-color: $white;
    float: right;
    border-radius: 4px;
    line-height: 36px;
    background-color: $lightgray;
    &-keyword {
      border-radius: 4px;
      border: none;
      height: 40px;
      width: 95%;
      padding: 5px 10px 5px 10px;
      background-color: $lightgray;
      font-size: 16px;
    }
    &-submit {
      height: 30px;
      font-size: 16px;
      font-weight: 100;
      background-color: $lightgray;
    }
  }
  &__bottom {
    height: 40px;
    width: 75%;
    width: 75%;
    padding: 15px 0 5px 0;
    margin: 0 auto;
    background-color: $white;
    a {
      color: $darkgray;
      text-decoration: none;
    }
    a:hover {
      color: $lightblue;
    }
    &-left {
      float: left;
      line-height: 32px;
      padding: 0;
      margin: 0;
      ul {
        float: left;
        padding: 0;
        margin: 0 1em 0 0;
        text-align: left;
        list-style: none;
        font-weight: bold;
        color: $almostblack;
      }
    }
    &-right {
      float: right;
      ul{
        padding: 0;
        margin: 0;
      }
      li {
        display: inline;
      }
    }
  }
  .nav-list-icon {
    color: $redicon;
    margin-right: 3px;
  }
  .nav-tag-icon {
    color: $redicon;
    transform: rotate(-45deg);
    margin-right: 3px;
  }
  .nav-notification-icon {
    float: left;
    line-height: 32px;
    padding-left: 10px;
    font-weight: 400;
    margin-right: 5px;
    color: $gray;
  }
  .nav-notification {
    float: left;
    line-height: 32px;
    vertical-align: middle;
    margin-right: 1em;
  }
  .nav-todo-icon {
    height: 38px;
    float: left;
    line-height: 32px;
    padding-left: 10px;
    margin-right: 5px;
    color: $gray;
  }
  .nav-todo{
    float: left;
    line-height: 32px;
    vertical-align: middle;
    margin-right: 1em;
  }
  .nav-mypage-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 3px;
  }
  .nav-mypage {
    float: left;
    line-height: 32px;
    vertical-align: middle;
    margin-right: 1em;
  }
  .header-btn {
    float: left;
    line-height: 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    opacity: 1.0;
  }
  .btn-login {
    background: $redicon;
    border: 1px solid $redicon;
    color: $white;
    margin-right: 1em;
  }
  .btn-login:hover {
    color: $white;
  }
  .btn-signup {
    display: block;
    background: $white;
    border: 1px solid $lightblue;
    color: $lightblue;
  }
  .btn-signup:hover {
      color: $white;
      background: $lightblue;
  }
}
