.mypage-content {
    width: 700px;
    float: right;
    @include select-default();
    @include input-default();
    @include btn-default();
    @include btn-red();
    &__user-icon {
        position: relative;
        height: 200px;
        padding: 20px;
        background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?91658059);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    &__user-icon>a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #333;
    }
    &__user-icon figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
    }
    &__user-icon h2 {
        margin: 8px 0 0;
        font-size: 14px;
    }
    &__number {
        margin: 8px 0 0;
        font-size: 0;
    }
    &__number div {
        display: inline-block;
        font-size: 14px;
    }
    &__number span {
        margin: 0 0 0 8px;
        font-size: 16px;
    }
    &__number div+div {
        margin: 0 0 0 16px;
    }
    &__tab-container-notification-todo {
        margin: 0;
        background: #fff;
    }
    &__tabs {
        border: 0;
        background: #eee;
        font-size: 0;
    }
    &__tabs li {
        width: 50%;
    }
    &__tabs li {
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    &__tabs li.active {
        background: #fff;
    }
    &__tabs a:hover {
        text-decoration: none;
    }
    &__tabs li.active a {
        border-top: 2px solid #ea352d;
    }
    &__tabs a {
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
    }
    &__tab-content {
        &__tab-pane.active {
            display: block;
        }
    }
    &__item-list li {
        position: relative;
        border-bottom: 1px solid #eee;
    }
    &__item-list li:first-child {
        border-bottom: 1px solid #eee;
    }
    &__item-link {
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
    }
    &__item-link figure {
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
    }
    &__item-list img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    &__item-list li:last-child {
        border: 0;
    }
    &__item-body {
        margin: 0 40px 0 68px;
    }
    &__item-link time {
        display: inline-block;
        color: #888;
    }
    &__item-link time span {
        vertical-align: middle;
    }
    &__go-list {
        padding: 16px;
    }
    &__go-list a {
        display: block;
        height: 56px;
        margin: 0 auto;
        background: #eee;
        color: #333;
        line-height: 56px;
        text-align: center;
    }
    &__tab-container {
    margin: 40px 0 0;
    background: #fff;
    }
    &__tab-head {
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
    }
    &__item-not-found {
        padding: 160px 0 60px;
        background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?91658059);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
    }
    &__chapter-container {
        margin: 40px 0 0;
        background: #fff;
    }
    &__chapter-container:first-child {
        margin: 0;
    }
    &__chapter-head {
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-size: 24px;
        padding: 8px 24px;
    }
    &__inner {
        border-top: 1px solid #f5f5f5;
        padding: 64px;
        p {
            margin: 8px 0 0;
            line-height: 1.5;
        }
    }
    &__text-right {
        text-align: right;
    }
    &__form-group {
        margin: 40px 0 0;
        label {
            font-weight: 600;
            display: inline-block;
        }
        select {
            width: 100%;
        }
        &:first-child {
            margin: 0;
        }
    }
    &__form-arbitrary {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        background: #ccc;
    }
    &__select-wrap {
        position: relative;
        background: #fff;
        margin: 8px 0 0;
    }
    &__input-default {
        width: 100%;
        margin: 8px 0 0;
    }
    &__btn-red {
        margin: 40px 0 0;
    }
    &__identification button[type="submit"] {
        margin: 40px 0 0 0;
    }
}
