.pager {
    position: relative;
    font-size: 0;
    text-align: center;
    margin: 40px 0 0;
    &__num {
        max-width: 240px;
        margin: 0 auto;
    }
    &__cell {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
        a {
            display: block;
            color: #333;
        }
    }
    &__next {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__next {
        position: absolute;
        top: 0;
        right: 0;
        i {
            position: relative;
            top: .15em;
        }
    }
}
