.item-info {
  width: 700px;
  margin: 40px auto 0;
  padding: 24px 40px 10px;
  background-color: $white;
  box-sizing: border-box;
  &__container {
    width: 620px;
    margin: 0 auto;
    min-height: 375px;
  }
  &__head {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    color: $almostblack;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.4;
  }
  &__summary {
    font-size: 14px;
    color: $midgray;
    line-height: 1.5;
    display: block;
  }
  &__content {
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    display: inline-block;
    &-left {
      float: left;
      margin-right: 20px;
    }
    &-right {
      float: right;
    }
  }
  &__priceInfo {
    margin: 0 auto;
    text-align: center;
  }
  &__price {
    text-align: center;
    font-size: 50px;
    color: $almostblack;
    font-weight: 600;
    display: inline-block;
    padding-right: 15px;
  }
  &__tax {
    text-align: center;
    font-size: 10px;
    color: $almostblack;
    display: inline-block;
  }
  &__shippingCost {
    text-align: center;
    font-size: 16px;
    color: $almostblack;
    display: inline-block;
  }
  &__description {
    padding: 24px 0 0;
    line-height: 1.5;
    font-size: 18px;
  }
  &__buttons {
    padding: 24px 0 10px;
    display: inline-block;
    width: 100%;
    &-left {
      float: left;
      display: inline-block;
      a {
        color: $almostblack;
        text-decoration: none;
      }
      a:hover {
        color: $almostblack;
        text-decoration: none;
      }
    }
    &-right {
      float: right;
      padding: 8px 0;
      color: $lightblue;
      .icon-lock {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
      }
      a {
        color: $lightblue;
        text-decoration: none;
      }
    }
    &-favorite {
      float: left;
      padding: 8px 16px;
      background-color: $whitesmoke;
      border: 1px solid $whitesmoke;
      border-radius: 40px;
      color: $almostblack;
      margin-right: 10px;
      vertical-align: middle;
    }
    .icon-like {
      font-family: "Font Awesome 5 Free";
      color: $gray;
      font-weight: 400;
      margin-right: 5px;
    }
    &-report {
      float: left;
      padding: 8px 16px;
      background-color: $whitesmoke;
      border: 1px solid $whitesmoke;
      border-radius: 40px;
      color: $almostblack;
      vertical-align: middle;
    }
    .icon-flag {
      font-family: "Font Awesome 5 Free";
      color: $almostblack;
      font-weight: 400;
      margin-right: 5px;
    }
  }
  .purchase-btn {
    font-size: 24px;
    display: block;
    height: 56px;
    margin: 16px 0 0;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    opacity: 1.0;
  }
  .buy-btn {
    background: $redicon;
  }
  .sold-btn {
    background: $midgray;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
  }
}
.item-prevnext {
  width: 700px;
  height: 20px;
  margin: 20px auto 10px;
  padding: 10px auto;
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
  a {
    color: $lightblue;
    text-decoration: none;
  }
  &__prev {
    float: left;
    max-width: 315px;
  }
  &__next {
    float: right;
    max-width: 315px;
  }
  .icon-arrow {
    padding: 0 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-decoration: none;
    color: $lightblue;
  }
}
.item-share {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background-color: $white;
  box-sizing: border-box;
  text-align: center;
  &__text {

  }
  &__snsbox {
    margin: 0 auto;
    display: inline-block;
    li {
      float: left;
      margin-right: 10px;
      width: 44px;
      height: 44px;
      border-radius: 12px;
      padding: 0 auto;
    }
    li:last-child {
      margin-right: 0px;
    }
    .icon-facebook {
      background-color: #385185;
    }
    .icon-twitter {
      background-color: #5d9dc9;
      font-size: 18px;
    }
    .icon-pinterest {
      background-color: #aa262a;
      font-size: 18px;
    }
    .fa-facebook {
      margin-top: 9px;
      font-size: 26px;
      color: $white;
    }
    .fa-twitter {
      margin-top: 9px;
      font-size: 26px;
      color: $white;
    }
    .fa-pinterest {
      margin-top: 9px;
      font-size: 26px;
      color: $white;
    }
  }
}
.item-title {
  margin: 24px auto 8px;
  padding: 0 auto;
  width: 700px;
  box-sizing: border-box;
  text-align: left;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.4;
}
