.product-single-container {
    @include input-default();
    @include textarea-default();
    @include l-left();
    @include l-right();
    @include btn-default();
    @include btn-red();
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
    }
    &__form {
        border-top: 1px solid #eee;
    }
    &__upload-box {
        width: 620px;
        padding: 40px;
    }
    &__upload-head {
        font-size: 16px;
    }
    &__form-require {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        background: #ea352d;
    }
    &__upload-head+p {
        margin: 8px 0 0;
        line-height: 1.5;
    }
    &__dropbox-container {
        display: block;
        margin: 16px auto 0;
        width: 620px;
    }
    &__upload-drop-box {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        min-height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 0;
        text-align: center;
        -webkit-transition: -webkit-box-shadow ease-out .3s;
        transition: -webkit-box-shadow ease-out .3s;
        transition: box-shadow ease-out .3s;
        transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
        cursor: pointer;
    }
    &__visible-pc {
        display: block;
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    &__sell-upload-drop-box pre {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .file {
        opacity: 0;
    }
    &__upload-items-container {
        display: inline;
    }
    &__upload-items {
        display: inline;
        float: left;
        flex: 2;
        ul {
            display: inline;
            width: 100%;
        }
    }
    &__upload-item {
        width: 116px;
        margin: 0 0 10px 10px;
        position: relative;
        display: inline-block;
        border: 1px solid #eee;
        vertical-align: top;
        &:first-child {
            margin-left: 0;
        }
    }
    &__upload-item-figure {
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        width: auto;
        padding: 0;
        height: 116px;
        line-height: 116px;
        img {
            cursor: default;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 100%;
            position: static;
            -webkit-transform: none;
            transform: none;
        }
    }
    &__upload-button {
        font-size: 14px;
        letter-spacing: -1em;
        a {
            display: inline-block;
            width: 50%;
            background: #f5f5f5;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0em;
            &:last-child {
                border-left: 1px solid #eee;
                box-sizing: border-box;
            }
        }
    }
    &__content {
        padding: 40px;
        border-top: 1px solid #eee;
    }
    &__form-group {
        margin: 40px 0 0;
        &:first-child {
            margin: 0;
        }
    }
    &__form-group label {
        font-weight: 600;
    }
    &__form-group select {
        width: 100%;
    }
    &__input-default {
        width: 100%;
        margin: 8px 0 0;
    }
    &__form-group label+&__textarea-default {
        margin: 8px 0 0;
    }
    @include select-default();
    &__select-wrap {
        margin: 8px 0 0;
        position: relative;
        background: #fff;
    }
    &__sell-sub-head {
        color: #888;
        font-size: 14px;
        float: left;
    }
    &__form-box {
        float: right;
        width: 400px;
        margin: 0;
    }
    &__price {
        &>li {
            padding: 24px 0;
            border-top: 1px solid #ccc;
        }
        &>li:first-child {
            padding: 0 0 24px;
            border: 0;
        }
    }
    &__price-input {
        text-align: right;
        width: 50%;
        @include input-default; 
        &>div {
            display: inline-block;
            width: 80%;
            margin: 0 0 0 5%;
        }
        &__input-default {
            text-align: right;
            margin: 0;
            width: 100%;
        }
    }
    &__l-left {
        width: 50%;
        line-height: 48px;
        &__bold {
            font-size: 16px;
            font-weight: 600;
        }
    }
    &__l-right {
        &__bold {
            font-size: 34px;
            font-weight: 600;
        }
    }
    &__btn-box {
        p {
            line-height: 1.5;
        }
        @include btn-red();
        @include btn-gray();
        &__btn-red {
            margin: 40px 0 0;   
        }
        &__btn-gray {
            width: 45%;
            margin: 24px auto 0;
        }
    }
    &__clearfix {
        @include clearfix();
    }
    &__buy-content {
        margin: 40px 0 0;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        &:first-of-type {
            margin: 0;
        }
        &:last-of-type {
            padding: 40px 12.5%;
        }
    }
    &__buy-item {
        text-align: center;
        img {
            width: 148px;
        }
    }
    &__buy-content-inner {
        max-width: 320px;
        margin: 0 auto;
    }
    &__buy-item-name {
        margin: 8px 0 0;
        font-size: 16px;
        line-height: 1.5;
    }
    &__buy-price-ja {
        margin: 16px 0 0;
        font-size: 28px;
    }
    &__buy-form  {
        p {
            margin: 8px 0 0;
            line-height: 1.5;
        }
    }
    &__item-shipping-fee {
        display: inline-block;
        margin: 0 0 0 8px;
        font-size: 14px;
        font-weight: 400;
    }
    &__buy-accordion {
        margin: 16px 0 0;
        background: #ccc;
    }
    &__accordion-toggle {
        position: relative;
        border: 1px solid #ccc;
        padding: 16px;
        cursor: default;
    }
    &__buy-price-table {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }
    &__buy-price-row {
        display: table-row;
        border-top: 1px solid #ccc;
        font-size: 28px;
    }
    &__buy-price-cell {
        display: table-cell;
        padding: 16px 0;
        text-align: right;
        &:first-child {
            text-align: left;
        }
    }
    &__buy-user-info {
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        address {
            display: block;
        }
    }
    &__buy-user-info-text {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
    }
    &__buy-user-info-fix {
        display: block;
        text-align: right;
        span {
            vertical-align: middle;
        }
    }
    .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
    .modal-screen {
        display: none;
        height: 300px;
        width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -250px;
        background-color: #fff;
        z-index: 2;
        text-align: center;
        p {
          margin-top: 120px;
          display: block;
          font-size: 30px;
        }
  }
  .close-btn {
        display: block;
        width: 80px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        border: 1px solid;
        margin: 20px auto;
        font-size: 12px;
  }
}
