.spacial-description {
    margin-top: 30px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ea352d;
    h3 {
        text-align: center;
        color: #fff;
        padding: 16px 8px;
    }
    &__text {
        background-color: #fff;
        padding: 30px;
        p {
            line-height: 1.6em;
        }
    }
}
